<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">  
	<title>cmm 19</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
	<link rel="stylesheet" href="/assets/home.css">
</head>
<body>
<header>
	<div class="has-text-centered">
	 <img src="/assets/images/logo.png" alt="" width="145" height="auto">
     </div>
     <nav class="navbar-tabs">
     	<a href="#" class="navbar-item">Golf</a>
     	<a href="#" class="navbar-item">tat</a>
     	<a href="#" class="navbar-item">Ki</a>
     	<a href="#" class="navbar-item">Parm</a>
     	<a href="#" class="navbar-item">Nam</a>
     	<a href="#" class="navbar-item">June</a>
     	<a href="#" class="navbar-item">Parng</a>
     	<a href="#" class="navbar-item">Tan</a>
     </nav>
</header>

<main>
	<section class="banner">
	    <div class="highlight">
	        <div class="columns">
	        	<div class="column highlight-item">
	        		<h1>กินข้าวยังไม่อิ่มเลยค่ะ</h1>
	        	</div>
	        	</div>
	        </div>
          </div>
	    <div class="thumbnail">
	    	<div class="columns is-marginless">
	    	
		    	<div class="column thumbnail-item is-paddingless" style="background-image: url(/assets/images/home/banner/thumbnail-1.jpg);">
		    		<div class="is-size-2"> ฉันเหงา
		    		</div>
		    	</div>

		    	<div class="column thumbnail-item is-paddingless" style="background-image: url(/assets/images/home/banner/thumbnail-2.jpg);">
		    		<div class="is-size-2"> ฉันเหนื่อย
		    		</div>
		    	</div>

		    	<div class="column thumbnail-item is-paddingless" style="background-image: url(/assets/images/home/banner/thumbnail-3.jpg);">
		    		<div class="is-size-2"> ฉันเพลีย
		    		</div>
		    	</div>

		    	<div class="column thumbnail-item is-paddingless" style="background-image: url(/assets/images/home/banner/thumbnail-4.jpg);"> 
		    		<div class="is-size-2"> ฉันรักเธอ
		    		</div>
		    	</div>

	    	</div>
	    </div>
	</section>
	<section class="section we-present">
		<div class="container">
			<div class="columns">
				<div class="column has-text-left">
					<a href="#">LASTET</a>
				</div>
				<div class="column has-text-centered">
					We Present
				</div>
				<div class="column has-text-right">
					<a href="#">SEARCH</a>
				</div>
			</div>
			<div class="columns is-multiline">
				<a href="#" class="column is-one-third">
					<div class="card">
						<div class="card-images">
						<figure class="images is-3by2">
							<img src="assets/images/home/we-preset/img-1.jpg" alt="images-1"> 
						</figure>
					</div>
					<div class="card-content">
						<h5 class="catelogy"> public Space</h5>
						<h3 class="title is-spaced is-4">
							ลองกินข้าวดูสิ
						</h3>
						<h4 class="subtitle is-6">
							ข้าวที่น่ากิน
						</h4>
						<p>
							ลองกินข้าวที่หน้ามหาลัย แล้วท่านจะติดใจ อิอิ
						</p>
					</div>
					</div>
				</a>
				<a href="#" class="column is-one-third">
					<div class="card">
						<div class="card-images">
						<figure class="images is-3by2">
							<img src="assets/images/home/we-preset/img-2.jpg" alt="images-2"> 
						</figure>
					</div>
					<div class="card-content">
						<h5 class="catelogy"> public Space</h5>
						<h3 class="title is-spaced is-4">
							กาแฟหอมดีนะ
						</h3>
						<h4 class="subtitle is-6">
							ข้าวที่ม่ากิน
						</h4>
						<p>
							การกินข้าวมันดีต่อสุขภาพนะ แต่การกินกาแฟ ทำให้นายไม่ได้นอน 
							เราอยากให้นายนอนนะ แต่เราก็อยากให้นายกินกาแฟเหมือนกัน
						</p>
					</div>
					</div>
				</a>
				<a href="#" class="column is-one-third">
					<div class="card">
						<div class="card-images">
						<figure class="images is-3by2">
							<img src="assets/images/home/we-preset/img-3.jpg" alt="images-3"> 
						</figure>
					</div>
					<div class="card-content">
						<h5 class="catelogy"> public Space</h5>
						<h3 class="title is-spaced is-4">
							ลองกินข้าวดูสิ
						</h3>
						<h4 class="subtitle is-6">
							ข้าวที่น่ากิน
						</h4>
						<p>
							ลองกินข้าวที่หน้ามหาลัย แล้วท่านจะติดใจ อิอิ
						</p>
					</div>
					</div>
				</a>
				<a href="#" class="column is-one-third">
					<div class="card">
						<div class="card-images">
						<figure class="images is-3by2">
							<img src="assets/images/home/we-preset/img-4.jpg" alt="images-4"> 
						</figure>
					</div>
					<div class="card-content">
						<h5 class="catelogy"> public Space</h5>
						<h3 class="title is-spaced is-4">
							กาแฟหอมดีนะ
						</h3>
						<h4 class="subtitle is-6">
							ข้าวที่ม่ากิน
						</h4>
						<p>
							สวัสดีวันศุกร์ วันนี้เราเรียนเขียนเว็ปแหละ แต่เราเขียนไม่ได้อะ
							อิอิ
						</p>
					</div>
					</div>
				</a>
				<a href="#" class="column is-one-third">
					<div class="card">
						<div class="card-images">
						<figure class="images is-3by2">
							<img src="assets/images/home/we-preset/img-6.jpg" alt="images-6"> 
						</figure>
					</div>
					<div class="card-content">
						<h5 class="catelogy"> public Space</h5>
						<h3 class="title is-spaced is-4">
							เราว่าเราอยากจะกินข้าวแล้ว
						</h3>
						<h4 class="subtitle is-6">
							6เดือน 10 ปี 60
						</h4>
						<p>
							ก่อนอื่นการกินข้าว เราน่าจะกินข้าว และกินขนมตาม
							การกินขนมทำให้ มีสารความสุขด้วยนะ
							อยากจะกลับบ้านแล้วครับผมมมมมม See more-->
						</p>
					</div>
					</div>
				</a>
				<a href="#" class="column is-one-third">
					<div class="card">
						<div class="card-images">
						<figure class="images is-3by2">
							<img src="assets/images/home/we-preset/img-2.jpg" alt="images-2"> 
						</figure>
					</div>
					<div class="card-content">
						<h5 class="catelogy"> public Space</h5>
						<h3 class="title is-spaced is-4">
							กาแฟหอมดีนะ
						</h3>
						<h4 class="subtitle is-6">
							ข้าวที่ม่ากิน
						</h4>
						<p>
							การกินข้าวมันดีต่อสุขภาพนะ แต่การกินกาแฟ ทำให้นายไม่ได้นอน 
							เราอยากให้นายนอนนะ แต่เราก็อยากให้นายกินกาแฟเหมือนกัน
						</p>
					</div>
					</div>
				</a>
			</div>	

			</div>
		</div>
	</section>		
</main>
</body>
</html>