<header>
	<div class="has-text-centered">
	 <img src="/assets/images/logo.png" alt="" width="145" height="auto">
     </div>
     <nav class="navbar-tabs">
     	<a href="#" class="navbar-item">Golf</a>
     	<a href="#" class="navbar-item">tat</a>
     	<a href="#" class="navbar-item">Ki</a>
     	<a href="#" class="navbar-item">Parm</a>
     	<a href="#" class="navbar-item">Nam</a>
     	<a href="#" class="navbar-item">June</a>
     	<a href="#" class="navbar-item">Parng</a>
     	<a href="#" class="navbar-item">Tan</a>
     </nav>
</header>